//Classes for controlling layout of elements
.hide {
  display: none !important;
}
.centred {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  border-radius: 50%;
}
.fullscreen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
