#loadingOverlay {
  z-index: 999;
  background-color: black; }

* {
  box-sizing: border-box;
  transition: all 1s ease-out; }

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  top: 0;
  left: 0; }

h1,
h2,
h3,
p {
  color: #002828;
  text-align: center; }

h1 {
  font-weight: 900; }

h2,
h3 {
  font-weight: 700; }

p {
  font-size: 1em;
  line-height: 1em; }

/*
button,
input,
option,
select {
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    color: #7f7f7f;
    border: solid #7f7f7f 1px;
    border-radius: 2px;
}
button:hover {
    background-image: linear-gradient(to bottom,#252525,#000);
}
button.selected {
    background-image: linear-gradient(to bottom,#6fb3c6,#fff);
}
input[type=range] {
    //margin: auto;
    //outline: none;
    //padding: 0;
    height: 3px;
    background-color: rgb(66, 66, 66);
    background-image: linear-gradient(rgb(66, 66, 66), #cfcfcf);
    background-size: 0 100%;
    //background-repeat: no-repeat;
    //border-radius: 50%;
    //cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}
input[type=range]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
    -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
}
*/
.hide {
  display: none !important; }

.centred {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.circle {
  border-radius: 50%; }

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
